

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'IBM Plex Mono', monospace;
}



a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #EA3D14;
}

.logo-name {
  padding-left: 1%;
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
  font-weight: 600;
  width: 25%;
  font-size: 130%;
}

nav {
  position: fixed;
  top: 0%;
  width: 100vw;
  height: 9vh;
  margin-bottom: 15vh;
  display: flex;
  flex-direction: row;
  padding: 1%;
  align-items: center;
  background-color: #E7DFF6;
  z-index: 5;
}

nav ul {
  
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
  font-weight: 600;
  font-size: 90%;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

/* #last-name {
  color: #EA3D14;
} */

button {
  background: transparent;
  border: none;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: italic;
  /* margin-left: 4%; */
  margin-right: 1.5%;
  padding: 1%;
  border-width: 2px;
  border-color: transparent;
  text-align: center;
}

button:hover {
  cursor: pointer;
  border-style: solid;
  border-color:#EA3D14;
  border-width: 2px;
  padding: 1%;
}

h1 {
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
  font-weight: 600;
}

h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
  font-weight: 600;
}

section {
  height: 80vh;
  margin-top: 10vh;
  margin-left: 9vw;
  width: 85vw;

}


.hidden {
  visibility: hidden;
}

#header {
  display: flex;
  align-items: center;
  /* background-image: url("../../public/english-bay.jpg");
  background-size: cover;
  color: white; */
}

#about {
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
  /* border-color: #EA3D14;
  border-style:solid;
  border-width: 1%;
  border-radius: 5px; */
}

.about-me {
  display: flex;
  flex-direction: row;
}

.about-headshot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#kat-desc {
  margin-left: 5%;
  margin-right: 3%;
  line-height: 1.5;
  margin-bottom: 1.5%;
  font-size: 90%;
}

#story-desc {
  margin-left: 5%;
  margin-right: 3%;
  line-height: 1.5;
  padding-top: 2%;
  margin-bottom: 1.5%;
  display: flex;
  flex-direction: column;
}

button.city-selected {
  color: #EA3D14;
}

p.story {
  font-size: 90%;
  margin-top: 2%;
  padding: 3%;
  background-color:#E7DFF6;
  /* border-style: solid;
  border-color: black;
  border-width: 2px; */
}

h4 {
  margin-bottom: .7%;
}

#headshot {
  margin-top: 15%;
  object-fit: cover;
  border-radius: 50%;
  width: 11vw;
  height: 11vw;
}

#why {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

h5 {
  margin-bottom: 3%;
  font-size: 105%;
  text-decoration: underline;
}


.why-desc{
  margin-top: 3%;
  padding-right: 15%;
  font-size: 90%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}

article.why-reasons {
  width: 33%;
  margin: 1%;
  margin-top: 0%;
  margin-bottom: 3.5%;
  font-size: 90%;

}


img.slider-img {
  margin-left: 29%;
  margin-top: 1%;
  margin-bottom: 3%;
  width: 42%;
}


.slider-title {
  font-size: 110%;
}

:root {
  --swiper-theme-color: #ea3d14 !important;
  
}
.swiper-scrollbar-drag {
  background-color:  #ea3d14 !important;
}
.swiper-scrollbar {
  background-color: #E7DFF6 !important;
}


h6 {
  font-style: italic;
  margin-top: 1%;
  margin-bottom: 2%;
}

.projects p {
  font-size: 80%;
}

#project-header {
  margin-bottom: 2%;
}
#contact {
  height: 92vh;
  padding-bottom: 2%;
}

#back-top {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2%;
}

#contact-footer {
  height: 15vh;
  position:fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  margin: 2%;
  justify-content: space-between;
}

#fact-button {
  margin-top: 2.5%;
  border: black;
  border-style: solid;
  border-width: 2px;
}

#fact-button:hover {
  border-color: #EA3D14;
}

#kat-fact {
  width: 50%;
  background-color: #E7DFF6;
  padding: 1.5%;
  line-height: 1.8;
  margin-top: 1.8%;
  margin-left: 1.8;
  margin-bottom: 3.5%;
  font-size: 90%;
}


.contact-info {
  margin-top: 1.5%;
  justify-content: center;
  font-size: 80%;
}

#contact {
  margin-top: 9%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#references {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  column-gap: 5%;
  font-size: 70%;
  width: 95%;
}

article.reference-info {
  width: 30%;
}

#refer-header {
  margin-bottom: 2%;
}

/* title styles */
.hello-company{
  font-size: 190%;
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1.2;
  margin-bottom: 1%;
  margin-right: 1%;
  margin-left: 2%;
}

.hello-company::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #EA3D14;
  animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
  transform: translateX(-101%);
}

.hello-company::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
  transform: translateX(0);
}

.hello-company:nth-of-type(1)::before,
.hello-company:nth-of-type(1)::after{
  animation-delay: 1s;
}

.hello-company:nth-of-type(2)::before,
.hello-company:nth-of-type(2)::after{
  animation-delay: 1.5s;
}

@keyframes a-ltr-after{
  0% {transform: translateX(-100%)}
  100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
  0% {transform: translateX(0)}
  100% {transform: translateX(200%)}
}


@media (max-width: 600px) {

  #why {
    margin-top: 65vh;
    height: 260vh;
  }
  h6 {
    font-size: 85%;
    padding-bottom: 5%;
  }

  #hamburger {
    position: fixed;
    right: 2%;
    top: 2.5%;
    border: none;
  }

  ul.nav-list {
    visibility: hidden;
  }

  #mission {
    margin-top: 5%;
    font-size: 125%;
  }

  #nav-list {
    width: 100vw;
    background-color: #E7DFF6;
    position: fixed;
    top: 8%;
    right: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
  }

  .hidden {
    visibility: visible;
  }

  div#kat-desc {
    padding-bottom: 5%;
    font-size: 120%;
  }

  div.why-desc {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 115%;
  }

  h1 {
    font-size: 180%;
  }

  h2 {
    margin-top: 4%;
    margin-bottom: 4%;
  }

  article.why-reasons {
    width: 100%;
    padding-bottom: 5%;
  }

  .logo-name {
    font-size: 90%;

  }

  #projects {
    margin-top: 25%;
    height: 65vh;
  }
  section {
    padding: 1%;
  }

  #header {
    
    height: 105vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 65vh;
    align-items: flex-start;

  }

  #about {
    height: 230vh;
    margin-bottom: 150vh;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #projects {
    margin-top: 65vh;
    height: 110vh;
    padding-left: 1%;
  }

  p.slider-p {
    padding-bottom: 55%;
    max-height: 330px;
    font-size: 90%;
  }

  img.slider-img {
    margin-bottom: 10%;
    margin-left: 12.2%;
    width: 75%;
  }

  img#headshot {
    margin: 1.5%;
    width: 25vw;
    height: 25vw;
    margin-bottom: 15%;
  }



  #contact {
    height: 130vh;
    padding-left: 1%;
    font-size: 110%;
  }

  .hello-company {
    margin-left: 0%;
  }

  #kat-fact {
    width: 80%;
    font-size: 80%;
    min-height: 200px;
  }
  #fun-fact {
    margin-top: 4%;
    margin-bottom: 4%;
  }

  #references {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  article.reference-info {
    padding-top: 3%;
    margin-bottom: 3%;
    width: 90%;
    font-size: 100%;
  }

  p.contact-info {
    width: 100%;
    font-size: 75%;
    padding-bottom: 2%;
  }
  p.story {
    font-size: 120%;
  }

  button {
    margin: 1%;
    padding: 3%;
    font-size: 90%;
    font-weight: 600;
    font-style: italic;
  }
}



/* -largeMobile */
@media (min-width: 601px) and (max-width: 800px) {

  nav {
    font-size: 120%;
  }

  #hamburger {
    position: fixed;
    right: 2%;
    top: 2.5%;
    border: none;
  }

  ul.nav-list {
    visibility: hidden;
  }

  #nav-list {
    width: 100vw;
    background-color: #E7DFF6;
    position: fixed;
    top: 7%;
    right: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
  }

  .hidden {
    visibility: visible;
  }

  ul.nav-list {
    visibility: hidden;
  }

  div#kat-desc {
    padding-bottom: 5%;
  }

  div.why-desc {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  h2 {
    margin-top: 4%;
    margin-bottom: 4%;
  }

  article.why-reasons {
    width: 100%
  }

  .logo-name {
    font-size: 90%;
  }

  #projects {
    margin-top: 25%;
    height: 65vh;
  }
  p.slider-p {
    padding-bottom: 55%;
    max-height: 300px;
    font-size: 100%;
  }

  img.slider-img {
    margin-left: 15%;
    margin-bottom: 5%;
    width: 70%;
  }

  #header {
    height: 90vh;
    font-size: 150%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  section {
    height: 155vh;
  }
  #about {
    font-size: 140%;
  }
  #why {
    font-size: 140%;
  }

  #contact {
    font-size: 140%;
    height: 120vh;
  }

  #references {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  article.reference-info {
    padding-top: 3%;
    margin-bottom: 3%;
    width: 90%;
    font-size: 100%;
  }


  #projects {
    height: 110vh;
    font-size: 140%;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 801px) and (max-width: 1120px) {

  article.about-me {
    font-size: 110%;
  }
  #about {
    height: 90vh;
    font-size: 120%;
  }

  #story-desc {
    margin-top: 3%;
  }

  p.story {
    font-size: 100%;
  }
  button {
    font-size: 100%;
  }

  #header {
    height: 90vh;
  }



  .hello-company {
    /* font-size: 110%; */
    width: 35%;
    margin-right: 1%;
  }
  p#mission {
    font-size: 120%;
    width: 60%;
  }
  
  #project-header {
    margin-bottom: 10%;
  }

  #projects {
    font-size: 120%;
    height: 100vh;
  }

  p.slider-p {
    font-size: 110%;
    min-height: 325px;
  }
  img.slider-img {
    margin-left: 15%;
    width: 70%;
    margin-bottom: 8%;
  }

  .logo-name {
    font-size: 105%;
    margin-right: 2.5%;
  }

  .nav-list {
    font-size: 80%;
  }

  .why-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 0%;
  }
  
  article.why-reasons {
    width: 90%;
    font-size: 125%;
    margin-right: 5%;
  }

  h2 {
    padding-top: 5%;
    font-size: 180%;
  }

  h6 {
    font-size: 90%;
  }
  section {
    height: 80vh;
  }

  #why {
    
    height: 165vh;
  }

  #references {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #contact {
    height: 100vh;
    font-size: 130%;
  }
  .contact-info {
    padding-top: 3%;
    font-size: 100%;
  }

  #fun-fact {
    margin-top: 10%;
  }

  article.reference-info {
    padding-top: 3%;
    margin-bottom: 3%;
    width: 90%;
    font-size: 115%;
  }
  h2 {
    font-size: 150%;
  }



a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #EA3D14;
}
}


@media (min-width: 2100px) {

  nav.nav-bar {
    font-size: 155%;
    display: flex;
    justify-content: space-between;
  }

  ul#nav-list{
    width: 65%;
  }

  #header {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start; */

  }

  .hello-company {
    font-size: 300%;
    width: 35%
    /* margin-right: 2.5%; */
  }
  p#mission {
    font-size: 180%;
  }
  #about {
    font-size:165%;
  }
  #why {
    font-size:165%;
  }
  h6 {
    font-size: 100%;
  }

  #projects {
    font-size:165%;
  }

  p.slider-p {
    font-size: 100%;
  }
  #contact {
    font-size:175%;
  }

  button {
    font-size: 100%;
  }

}